img.admin {
    width: 25%;
    height: auto;
    margin-left: 10%;
}

iframe.youtube-video{
    width: 100%;
    height: auto;
}

iframe.youtube-video-edit {
    width: 25%;
    height: auto;
    margin-left: 10%;
}
