@Styles.Render("~/Content/products-page")

<div id="productPage">
    <div class="row">
        <img class="col-md-12" src="~/Content/Images/product-header.png" />
    </div>
    <h1>Feltöltés alatt...</h1>
    @*<div class="row">
        @using (Html.BeginForm("Search", "Product", FormMethod.Post))
        {
            @Html.DropDownListFor(m => m.SelectedCategoryId, Model.Categories, "Category", new { @class = "form-control", onchange = "this.form.submit();" })
        }
    </div>

    @Html.Partial("_ProductTable", Model.Products)*@
</div>

