<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/64790242-0a41-4f10-8000-ecfb0c953e39/resourceGroups/DioKftSite/providers/Microsoft.Web/sites/DioKftSite</ResourceId>
    <ResourceGroup>DioKftSite</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://diokftsite.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>diokftsite.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DioKftSite</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DioKftSite</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DioKftEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dio-kft-sql-server.database.windows.net,1433;Initial Catalog=DioKftDB;User ID=msapi@dio-kft-sql-server.database.windows.net;Password=Labhoz9324" Name="Data Source=tcp:dio-kft-sql-server.database.windows.net,1433;Initial Catalog=DioKftDB;User Id=msapi@dio-kft-sql-server.database.windows.net;Password=Labhoz9324;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DioKftSite.Models.DioKftEntities, DioKftSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DioKftEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DioKftModel.csdl|res://*/Models.DioKftModel.ssdl|res://*/Models.DioKftModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:dio-kft-sql-server.database.windows.net,1433;Initial Catalog=DioKftDB;User Id=msapi@dio-kft-sql-server.database.windows.net;Password=Labhoz9324;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DioKftEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DioKftModel.csdl|res://*/Models.DioKftModel.ssdl|res://*/Models.DioKftModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:dio-kft-sql-server.database.windows.net,1433;Initial Catalog=DioKftDB;User Id=msapi@dio-kft-sql-server.database.windows.net;Password=Labhoz9324;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>